*{
box-sizing: border-box;

}
body{
    background: #990c99;
}

header{
    margin-bottom: 15px;
}

.flex-container{

    display: flex;
    height: 300px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    background-color: darkorchid;
    padding: 10PX;
    border: 2px solid black; 
}
.flex-container div{

    background-color: gainsboro;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
}
nav {
    text-align: right;
    padding: 30px 50px 0 0;
  }
  
  nav > a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
  }
  
  nav > a:hover {
    text-decoration: underline;
  }

  .federi{


    padding-left: 15px;
    text-align: left;
  }