html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }


   body{ font-size: 62.5%;
    background-color: rgb(30, 202, 173);
    
}

nav{

    text-align: right;
    padding: 30px 50px 0 0;
    font-size: 15px;
}

nav > a{

    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{

    text-decoration: underline;
    
}


h1{

font: normal 2.4em Verdana, Geneva, sans-serif; 

background: -webkit-linear-gradient(top,#00f,#0cf);
width:35%;
border-radius: 10px;
margin: 15px auto;
text-align: center;
padding: 15px;
color:white;
box-shadow: rgb(4, 0, 255) 5px 5px 10px;
text-shadow: white 2px 2px 3px;
}


h2{

    font: bold 2.1em Verdana, Geneva, sans-serif;

    margin:0%;
    padding: 5px 0 5px 0px;
    color:#000;}

    section{

        width:91%;
        border-top: 1px dashed #999;
        margin: 15px auto;
}

figure{

    float:left;
}

figure img {

    padding: 4px;
    background: #666;
    border-radius: 20px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
    box-shadow: #999 5px 5px 10px;
}

figure img:hover {
-webkit-transform: scale(1.2);

}

figcaption{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;
    margin-top: 5px;
}

footer{


    clear: both;

    padding-top: 100px;


}

footer p{

    font: 2.6em Georgia;
    color#666;
    margin: 10px 8px;
}