body{background-color: aqua;}
    
    
    table {
  text-align: center;
  background-color: rgb(164, 22, 207);
  width: 35%;
  margin-left: 200px;
  border: 2px rgb(175, 36, 140) dashed;
}
#fede {
  margin-top: 5%;
  font-size: 21px;
  display: flex;
  justify-content: space-evenly;
}

td {
  padding: 15px;
}
nav {
  text-align: right;
  padding: 30px 50px 0 0;
}

nav > a {
  color: rgb(33, 22, 196);
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}

nav > a:hover {
  text-decoration: underline;
}

img {
    width: 68%;
  border: 2px rgb(175, 36, 140) dashed;
}
