body{


 
    background-color: rgb(30, 202, 173);
   

   
}






nav{
    text-align: right;
    padding: 30px 50px 0 0;
  }
  
  nav > a {
    color: rgb(33, 22, 196);
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
  } 
  
  nav > a:hover {
    text-decoration: underline;
  } 

img{

  border-radius: 145px;
  
}

div{

  margin-top: 14px;
}




.miformulario{

    width: 7px;}
   